<h5>Default</h5>
<p-accordion [multiple]="true" class='qas-custom-acd'  expandIcon= 'pi pi-chevron-down' collapseIcon='pi pi-chevron-up'>
<p-accordionTab  [selected]="true">
<ng-template pTemplate="header">
<span class='header-content'> This website uses cookies. Cookies are used to personalize content and ads, and to analyse our traffic. By using this website you consent to our cookies.

npmpeer.dev is not affiliated with npm, Inc. in any way.This website uses cookies. Cookies are used to personalize content and ads, and to analyse our traffic. By using this website you consent to our cookies.

npmpeer.dev is not affiliated with npm, Inc. in any way.</span>
</ng-template>
my content here
</p-accordionTab>
<p-accordionTab  [selected]="true">
<ng-template pTemplate="header">
   <span class='header-content'> This website uses cookies. Cookies are used to personalize content and ads, and to analyse our traffic. By using this website you consent to our cookies.

   npmpeer.dev is not affiliated with npm, Inc. in any way.This website uses cookies. Cookies are used to personalize content and ads, and to analyse our traffic. By using this website you consent to our cookies.

   npmpeer.dev is not affiliated with npm, Inc. in any way.</span>
</ng-template>
my content hereaaaaaaaaaa
</p-accordionTab>
</p-accordion>

