.container {
  margin-top: 4.375rem;
  height: calc(100vh - 4.375rem);
  padding: 16px 25px;
  box-sizing: border-box;
  background-color: #E5E5E5;
  font-family: 'Roboto';
  font-style: normal;
}

.content {
  background-color: #FFFFFF;
  border-radius: 12px;
  height: calc(100% - 180px);
  width: 100%;
}
